<a href="https://colab.research.google.com/github/Ethan-Jeong/test_machinelearning/blob/master/wholesale_decisionTree_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
!ls

sample_data  Wholesale_customers_data.csv

In [39]:
!ls -l # 자세히 보기

total 20
drwxr-xr-x 1 root root  4096 Jun 15 13:37 sample_data
-rw-r--r-- 1 root root 15021 Jul  2 04:45 Wholesale_customers_data.csv

In [40]:
!pwd

/content

In [41]:
!ls -l ./sample_data # 디렉토리 내용물 자세히 보기

total 55504
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json
-rw-r--r-- 1 root root   301141 Jun 15 13:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jun 15 13:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jun 15 13:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jun 15 13:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md

In [42]:
!ls -l ./Wholesale_customers_data.csv

-rw-r--r-- 1 root root 15021 Jul  2 04:45 ./Wholesale_customers_data.csv

In [64]:
import pandas as pd

df = pd.read_excel('./wholesale.xls') # y가 없는 데이터 불러와서 y 생성 후 붙이기
df.info()
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        440 non-null    int64
 1   Channel           440 non-null    int64
 2   Region            440 non-null    int64
 3   Fresh             440 non-null    int64
 4   Milk              440 non-null    int64
 5   Grocery           440 non-null    int64
 6   Frozen            440 non-null    int64
 7   Detergents_Paper  440 non-null    int64
 8   Delicassen        440 non-null    int64
 9   label             440 non-null    int64
dtypes: int64(10)
memory usage: 34.5 KB

   Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0           0        2       3  ...              2674        1338      0
1           1        2       3  ...              3293        1776      0
2           2        2       3  ...              3516        7844      0
3           3        1       3  ...               507        1788      2
4           4        2       3  ...              1777        5185      0

[5 rows x 10 columns]

In [66]:
Y = df['label']
X = df.iloc[:,1:9]
Y.shape , X.shape

((440,), (440, 8))

In [67]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [68]:
dtree.score(X,Y)

1.0